.login-box, .register-box {
    margin: 3% auto;
}

.crop-img img{
  max-width: 100%;
}


.image-crop img{
  max-width: 100% !important;
}

.cropper-container {
    position: sticky !important;
}

.box-tools{
	width:35%;
}
